@import "tailwindcss";

@import "./scrollbar.css" layer(components);
@import "./card.css" layer(components);
@import "./button.css" layer(components);
@import "./modal.css" layer(components);
@import "./chip.css" layer(components);
@theme inline {
  --font-inter: var(--font-inter);
  --font-ibm-mono: var(--font-ibm-plex-mono);
  --font-twk-laus: var(--font-twk-lausanne);

  --text-2\.5xl: 1.75rem;
  --text-2\.5xl--line-height: 32px;

  --text-4\.5xl: 2.5rem;
  --text-4\.5xl--line-height: 48px;

  --color-hgtp-blue-50: #ebefff;
  --color-hgtp-blue-100: #d9e0fd;
  --color-hgtp-blue-200: #bccbfb;
  --color-hgtp-blue-400: #798ef6;
  --color-hgtp-blue-500: #516AEC;
  --color-hgtp-blue-600: #3e4fea;
  --color-hgtp-blue-700: #363bd3;
  --color-hgtp-blue-900: #20275b;
  --color-hgtp-blue-950: #151832;

  --color-ltx-gold-300: #F0D856;
  --color-ltx-gold-700: #b47504;
  --color-ltx-gold-950: #331C0A;

  --color-stgz-purple-700: #662cc9;

  --color-c2fc: #f0f2fc;
  --color-cd14: #0a0d14;
  --color-cafb: #f9fafb;
  --color-c1f5: #eff1f5;
  --color-cafa: #fafafa;
  --color-cef6: #798ef6;
  --color-cfff: #ebefff;

  --spacing-4\.5: calc(var(--spacing) * 4.5);
  --spacing-5\.5: calc(var(--spacing) * 5.5);
  --spacing-6\.5: calc(var(--spacing) * 6.5);
  --spacing-7\.5: calc(var(--spacing) * 7.5);
  --spacing-8\.5: calc(var(--spacing) * 8.5);
  --spacing-9\.5: calc(var(--spacing) * 9.5);
  --spacing-10\.5: calc(var(--spacing) * 10.5);

  --radius-5xl: 48px;
}
