@use '../../styles/colors' as *;
@use '../../styles/_breakpoints' as *;
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr 1fr 1fr 1fr;
  width: 100%;
  background-color: $white;
  border: 1px solid $grayCool-200;
  border-radius: 8px;
  grid-template-rows: min-content;
}

.containerSnap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  background-color: $white;
  border: 1px solid $grayCool-200;
  border-radius: 8px;
  grid-template-rows: min-content;
}

.containerSmall {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 20rem));

  background-color: $white;
  border: 1px solid $grayCool-200;
  border-radius: 8px;
}

.homeContainer {
  display: grid;
  grid-template-columns: 1fr 0.6fr 1.4fr;
  grid-auto-rows: 3.8rem;
  background-color: $white;
  border: 1px solid $grayCool-200;
  border-radius: 8px;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: $grayCool-100;
  }

  100% {
    background-color: $gray-300;
  }
}

.skeleton.value {
  width: 90%;
  height: 1rem;
}

.icon {
  align-self: center;
  justify-self: flex-end;
  margin-right: 1rem;
}

.headerText {
  align-self: center;
  justify-self: flex-start;
  margin-left: 1rem;
  font-family: 'Lausanne';
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $grayCool-900;
}
.cards {
  display: none;
}

@media screen and(min-width: $sm) and (max-width: $md) {
  .table {
    display: none;
  }
  .cards {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .headerCards {
    display: flex;
    justify-content: space-between;
    border: 1px solid #dcdfea;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 3.5rem;
  }
}
