@use '../../styles/breakpoints' as *;

.main {
  display: flex;
  width: 100%;
  grid-column: 1 / span 14;

  flex-flow: column nowrap;
  align-items: center;

  a {
    color: #174cd3;
  }

  .metagraphs {
    display: flex;
    width: 100%;
    max-width: 1260px;

    padding: 20px;

    flex-flow: column nowrap;
  }

  .metagraphSiteLink {
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @include respond-below(md) {
      width: 110px;
    }
  }

  .metagraphLink {
    display: flex;

    align-items: center;
    gap: 12px;

    img {
      width: 32px;
      height: 32px;
      object-fit: contain;
    }

    @include respond-below(md) {
      gap: 4px;

      img {
        width: 12px;
        height: 12px;
      }
    }
  }
}
